
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x:hidden;
  scroll-behavior: smooth;
  /* background: #121212; */
}

/* html.dark { */
/* } */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-green-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-green-600 text-white cursor-pointer
    hover:bg-green-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-green-600;
  font-size: 0.9em;
}
html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar:hover{
  cursor: pointer !important;
}

::-webkit-scrollbar-button {
  background-color: #666;
  width: 0px;
  height:0; 
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}

.router-active{
  @apply text-green-500 transition ease-linear duration-300 underline-green-500 !important;
} 
/* .n-menu .n-menu-item-content .n-menu-item-content-header a{

}

nav{
  @apply md:border-b md:border-dark-100;
}
/* .router-link{
} */

.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.fadeMenu-enter-active,
.fadeMenu-leave-active {
  transition: opacity 0.4s ease;
}

.fadeMenu-enter-from,
.fadeMenu-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.n-layout .n-layout-scroll-container {
  width: 240px !important;
  top: 0;
}

.vue-recycle-scroller.ready .vue-recycle-scroller__item-view {
  width: 100px !important;
  transform: none !important;
  height: 140px !important;
}

.scroll-class {
  height: 100% !important;
}

.vue-recycle-scroller.direction-vertical .vue-recycle-scroller__item-wrapper {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(98px, 1fr)) !important;
  justify-items: center !important;

  min-width: 100% !important;
  gap: 1rem !important;
  height: 130px !important;
}

@media(max-width:400px) {
  .vue-recycle-scroller.direction-vertical .vue-recycle-scroller__item-wrapper {
    gap: 0.5rem !important;
  }
}