
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background: #121212; */
}

/* html.dark { */
/* } */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-green-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-green-600 text-white cursor-pointer
    hover:bg-green-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-green-600;
  font-size: 0.9em;
}
html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar:hover{
  cursor: pointer !important;
}

::-webkit-scrollbar-button {
  background-color: #666;
  width: 0px;
  height:0; 
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}

/* .router-active{
  @apply bg-gray-600 px-4 py-2 rounded-md border border-gray-500 !important;
} */
/* .n-menu .n-menu-item-content .n-menu-item-content-header a{

} */

nav{
  @apply md:border-b md:border-dark-100;
}
/* .router-link{
} */

.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}